spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop
    driver-class-name: org.h2.Driver
    username: sa
    password:

  servlet:
    multipart:
      file-size-threshold: 1MB
      max-file-size: 15MB
      max-request-size: 10MB
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
logging:
  file:
    name: ./log/test.log
  level:
    sql: info
    com:
      handsone:
        restAPI:
          handler: debug
    root: info
  logback:
    rollingpolicy:
      max-history: 30
      max-file-size: 50MB
#    org.hibernate.SQL: trace
#  org.hibernate.type: trace

